@media (max-width: 1400px)
    .menu
        &_item
            padding-right: 30px
    footer
        padding: 14px 20px 31px 20px
    .footer_row_1
        padding-left: 30px
        padding-right: 30px
    .footer_row_2
        padding-left: 15px
        padding-right: 15px

@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo_header
        font-size: 50px
    .reasons_text
        width: 300px
    .reasons_block
        height: 190px
    footer
        padding: 14px 10px 31px 10px
    .footer_row_1
        padding-left: 0
        padding-right: 0
    .footer_row_2
        padding-left: 0px
        padding-right: 0px
        a
            font-size: 10px

    .promo_btn
        margin-top: 60px
        font-size: 16px

    .download_images
        display: flex
        justify-content: flex-end
        align-items: center
@media (max-width: 1007px)
    footer
        min-height: 148px
        padding: 10px

    .footer_wraper
        display: flex
        justify-content: space-between
        align-items: center

    .footer_row_1
        padding-left: 0px
        padding-right: 0px
        a
            font-size: 12px
    .footer_row_2
        padding-left: 0px
        padding-right: 0px
        a
            font-size: 8px

    .download_images

        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-end

@media (max-width: 991px)
    .menu
        padding: 11px 40px
        &_item
            padding-right: 10px
        &_link
            font-size: 11px
    .subheader
        .uber_oficial
            font-size: 12px
        .icon_Uber
            width: 10%
        .uber777
            width: 80%
        .subheader_btn
            width: 157px
            height: 45px
            font-size: 12px
    .promo_btn
        margin-top: 60px
        font-size: 14px
    .promo
        padding-top: 180px
        min-height: 700px
    .promo_header
        font-size: 40px
    .promo_subheader
        font-size: 26px
    .promo_descr
        font-size: 16px
    .promo_btn
        width: 245px
        height: 49px
        margin-top: 60px
        font-size: 14px

    .reasons
        padding-bottom: 15px
    .reasons_8
        font-size: 35px
    .reasons_block
        margin-top: 25px
        height: 330px
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
    .reasons_text
        margin-top: 20px

    .choise
        min-height: 714px
        padding-bottom: 40px
    .choise_block
        .choise_img
            width: 220px
            height: 192px
            img
                width: 220px
                height: 192px
            .choise_descr
                margin-top: 50px
                text-align: center
                width: 192px
                font-size: 16px
                font-weight: 400
                text-transform: uppercase
                color: #ffffff
                z-index: 4
    .car
        img
            width: 600px
            display: block
            margin-bottom: 10px
        .car_light
            padding-top: 217px
            height: 197px
            background-color: #afa6a6
            .car_under-car-text
                margin-top: -110px
                text-align: center
                font-size: 17px
                font-weight: 300
                color: #222222
    .condition_header
        font-size: 34px
        margin-top: 33px
        font-weight: 700
        text-transform: uppercase
        color: #222222
        text-align: center
    .conditions
        .conditions_head
            font-size: 20px
            padding-left: 28px
        .conditions_foot
            padding-left: 28px
    .conditions_item_text
        padding-left: 50px
        font-size: 16px
    .requirements
        &_head
            padding-left: 28px

    footer
        min-height: 148px
        padding: 10px

    .footer_wraper
        display: flex
        justify-content: space-between
        align-items: center

    // .footer_wraper > div
    //     width: 33%
    //     display: inline-block
    //     vertical-align: middle
    //     &:nth-child(3)
    //         display: inline-flex
    //         justify-content: flex-end

    .footer_row_1
        padding-left: 0px
        padding-right: 0px
        a
            font-size: 12px
    .footer_row_2
        padding-left: 0px
        padding-right: 0px
        a
            font-size: 8px

    .download_images

        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-end

@media (max-width: 767px)
    .menu
        position: fixed
        top: 0
        left: 0
        width: 50%
        height: 110vh
        background-color: rgba(0,0 ,0 , .8)
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 20px 15px
        transition: 0.6s all
        &_active
            left: 0
        &_link
            font-size: 18px
            &:hover
                color: white
        &_item
            margin-top: 10px
            display: block
            border-right: none
            padding-right: none
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
